node_modules
.env

# Hardhat files
packages/core/cache
packages/core/artifacts

# TypeChain files
packages/core/typechain
packages/core/typechain-types

# solidity-coverage files
packages/core/coverage
packages/core/coverage.json